<% title_attribute = (title = attributes.detect { |a| a.type.to_s == "string" }).present? ? title.name : 'title' -%>
<li class='page-listing' id="<%%= dom_id(<%= singular_name %>) -%>">
  <div class="page-row">
    <!-- <i class="gcicon gcicon-file"></i> -->
    <a class="page-title" href="<%%= refinery.edit_<%= namespacing.underscore %>_admin_<%= singular_name %>_path(<%= singular_name %>) %>">
      <%%= <%= singular_name %>.<%= title_attribute %> %>
    </a>
    <span class='actions actions-col-2'>
      <% if localized? %>
          <%% if Refinery::I18n.frontend_locales.many? %>
            <span class='preview'>
              <%% <%= singular_name %>.translations.each do |translation| %>
                <%% if translation.<%= title_attribute %>.present? %>
                  <%%= link_to refinery_icon_tag("flags/#{translation.locale}.png", :size => '16x11'),
                               refinery.edit_<%= namespacing.underscore %>_admin_<%= singular_name %>_path(<%= singular_name %>, :switch_locale => translation.locale),
                               :class => 'locale' %>
                <%% end %>
              <%% end %>
            </span>
          <%% end %>
      <% end %>

      <span class="delete">
        <%%= link_to '<i class="gcicon gcicon-trash"></i>'.html_safe, refinery.<%= namespacing.underscore %>_admin_<%= singular_name %>_path(<%= singular_name %>),
            :class => "cancel confirm-delete circle-icon",
            :title => t('.delete'),
            :confirm => t('message', :scope => 'refinery.admin.delete', :title => <%= singular_name %>.<%= title_attribute %>),
            :method => :delete %>
      </span>

      <% unless skip_frontend? %>
      <span class="preview">
        <%%= link_to '<i class="gcicon gcicon-screen"></i>'.html_safe, refinery.<%= namespacing.underscore %>_<%= singular_name %>_path(<%= singular_name %>),
            :title => t('.view_live_html'),
            :class => "circle-icon",
            :target => "_blank" %>
      </span>
      <% end %>
    </span>
  </div>
</li>
