<%% content_for :admin_content do %>
  <section id='admin-page-content'>
    <%%= render 'records' %>
  </section>
  <%%= render '/refinery/admin/make_sortable', :tree => false if !searching? and ::Refinery::<%= namespacing %>::Admin::<%= class_name.pluralize %>Controller.sortable? and ::Refinery::<%= namespacing %>::<%= class_name %>.many? %>
<%% end %>
<%%= render 'refinery/<%= namespacing.underscore %>/admin/submenu' %>
