<li id="<%= dom_id(page) -%>" class="page-listing">
  <div class="page-row">
    <a href="<%= refinery.edit_admin_page_path(page.nested_url, :switch_locale => (page.translations.first.locale unless page.translated_to_default_locale?)) %>" class="page-title">
      <% if page.children.present? %>
        <% if Refinery::Pages.auto_expand_admin_tree %> <i class="gcicon gcicon-folder-open"></i> <% else %> <i class="gcicon gcicon-folder"></i> <% end %>
      <% else %>
        <i class="gcicon gcicon-file"></i>
      <% end %>
  
      <span class='title <%= 'toggle' if page.children.present? %>'>
        <%= page_title_with_translations page %>
        <%= page_meta_information page %>
      </span>
      <% if Refinery::I18n.frontend_locales.many? %>
        <span class='locales'>
          <% page.translations.sort_by{|t| Refinery::I18n.frontend_locales.index(t.locale)}.each do |translation| %>
            <%= link_to refinery_icon_tag("flags/#{translation.locale}.png", :size => '16x11'),
                        refinery.edit_admin_page_path(page.nested_url, :switch_locale => translation.locale),
                        :class => 'locale' if translation.title.present? %>
          <% end %>
        </span>
      <% end %>
    </a>
    
    <span class='actions'>          
      <span class="edit">
        <%= link_to '<i class="gcicon gcicon-edit top-down"></i>'.html_safe,
                  refinery.edit_admin_page_path(page.nested_url, :switch_locale => (page.translations.first.locale unless page.translated_to_default_locale?)),
                  :class => "circle-icon",
                  :title => t('edit', :scope => 'refinery.admin.pages') %>
      </span>
      
      <span class="preview">
        <%= link_to '<i class="gcicon gcicon-screen top-down"></i>'.html_safe,
                  page.url,
                  :target => "_blank",
                  :class => "circle-icon",
                  :title => t('.view_live_html') %>
      </span>
      
      <span class="add-child">           
        <%= link_to '<i class="gcicon gcicon-add top-down"></i>'.html_safe,
                  refinery.new_admin_page_path(:parent_id => page.id),
                  :class => "circle-icon",
                  :title => t('new', :scope => 'refinery.admin.pages') %>
      </span>
      
      <span class="delete">
        <%= link_to '<i class="gcicon gcicon-trash top-down"></i>'.html_safe,
                  refinery.admin_page_path(page.nested_url),
                  :class => "cancel confirm-delete circle-icon",
                  :title => t('delete', :scope => 'refinery.admin.pages'),
                  :data => {
                    :confirm => t('message',
                      :scope => 'refinery.admin.delete',
                      :title => page_title_with_translations(page)
                    )
                  },
                  :method => :delete if page.deletable? %>
      </span>
    </span>
  </div>
    

  
  <!-- This needs to be one line of code as the css looks for the empty state. -->

  <ul class='nested list-unstyled' data-ajax-content="<%= refinery.admin_children_pages_path(page.nested_url) %>"><%= render(:partial => 'page', :collection => page.children) if Refinery::Pages.auto_expand_admin_tree %></ul>


</li>
