<%= form_for @setting, :url => refinery.inquiries_admin_setting_path(@setting) do |f| %>
<div class="form-horizontal">
  <div class='field'>
    <div class="form-group">
    <%= f.label :value, t('.inquiry_settings_value_name'), :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
    <%= f.text_field :value, :value => f.object.value, # required, we can't use :value
                     :class => "form-control" %>
    </div>
    </div>
  </div>

  <p>
    <%= t('.hint') %>
  </p>
  <p>
    <%= t('.example') %>
  </p>

  <%= render :partial => "/refinery/admin/form_actions",
             :locals => {
               :f => f,
               :continue_editing => false,
               :cancel_url => refinery.inquiries_admin_inquiries_path,
               :hide_delete => true
             } %>
             
</div>
<% end %>
