<div class="search">
  <form method='GET' action='<%= url %>' class='search_form'>
    <div class="input-group">
      <%= text_field :search, nil, :id => 'search', :type => 'search', :name => 'search', :value => params[:search],
                     :class => 'form-control',
                     :placeholder => t('search_input_notice', :scope => 'refinery.admin.search')
      %>
      <%= hidden_field :wymeditor, nil, :name => 'wymeditor', :id => nil, :value => true  if params[:wymeditor].presence %>
      <%= hidden_field :dialog, nil, :name => 'dialog', :id => nil, :value => true if from_dialog? %>
      <%= hidden_field :callback, nil, :name => 'callback', :id => nil, :value => @callback if @callback.presence %>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="gcicon gcicon-search"></i></button>
      </span>
    </div><!-- /input-group -->
  </form>
</div>
