<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% content_for :meta, "<meta refinerycms='#{Refinery.version}' />".html_safe %>
  <head>
    <%= render '/refinery/admin/head' %>
  </head>
  <body class="<%= action_name %> <%= I18n.locale %>">
    <%= render '/refinery/site_bar' %>
    <!-- div id='tooltip_container'></div -->

    <section id="wrapper">
      <section id="sidebar-left" class="sidebar">
        <div id="sidebar-left-inner">
          <%= render 'refinery/admin/menu' %>
        </div>
      </section>
      
      <section class="inner-wrapper">
        <div id="flash_container">
          <%= render '/refinery/no_script' %>
          <%= render '/refinery/message' %>
        </div>
        <% if content_for?(:admin_page_preview) %>
          <section id="page-preview">
            <%= render "/refinery/body" %> <!-- this partial yields to :admin_page_preview -->
          </section>
        <% elsif content_for?(:admin_content) %>
          <%= yield :admin_content %>
        <% else %>
          <!-- this is just to display legacy, so we'll grab legacy css -->
          <%= stylesheet_link_tag 'refinery/refinery' %>
          <div id="page_container">
            <div id="page">
              <div id="content" class="clearfix">
                <%= yield %>
              </div>
            </div>
          </div>
        <% end %>
      </section>
      
      <% if content_for?(:admin_sidebar) %>
        <section id="sidebar-right" class="sidebar">
          <div id="sidebar-right-inner">
            <%= yield :admin_sidebar %>
            <!--
            <nav id="sidebar-right-nav" class="sidebar-nav">
              <ul class="list-unstyled">
                <li><a href="">hello there</a></li>
                <li><a href="">hello there</a></li>
                <li><a href="">hello there</a></li>
                <li><a href="">hello there</a></li>
              </ul>
            </nav>
            -->
          </div>
        </section>
      <% end %>
    </section>
  </body>
</html>
