<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% content_for :meta, "<meta refinerycms='#{Refinery.version}' />".html_safe %>
  <%= render 'refinery/admin/head' %>
  <body class="<%= action_name %> <%= I18n.locale %>">


    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">


    <%= render '/refinery/site_bar' %>
    <!-- div id='tooltip_container'></div -->

    <section id="wrapper">
      <section id="sidebar-left">
        <%= render 'refinery/admin/menu' %>
      </section>
      
      <section class="inner-wrapper">
        <div id="flash_container">
          <%= render '/refinery/no_script' %>
          <%= render '/refinery/message' %>
        </div>
        <section id="page-preview">
          <%= yield %>
        </section>
      </section>
      
      <section id="sidebar-right">
        <nav id="sidebar-right-nav">
          <ul class="list-unstyled">
            <li><a href="">hello there</a></li>
            <li><a href="">hello there</a></li>
            <li><a href="">hello there</a></li>
            <li><a href="">hello there</a></li>
          </ul>
        </nav>
      </section>
    </section>
    
    
    

    
    
  </body>
</html>
