<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% content_for :meta, "<meta refinerycms='#{Refinery.version}' />".html_safe %>
  <head>
    <%= render '/refinery/admin/head' %>
  </head>
  <body class="<%= action_name %> <%= I18n.locale %> modal-page pushable dimmable scrolling">

    <section id="sidebar-left" class="ui sidebar overlay">
      <div class="site-name">
        <a href="" class="sidebar-left-opener menu-link menu-link-left"><i class="gcicon gcicon-cancel"></i></a> <%= link_to Refinery::Core.site_name, '/' %>
      </div>
      <div id="sidebar-left-inner">
        <%= render 'refinery/admin/menu' %>
      </div>
        <%= link_to (t('.log_out', site_bar_translate_locale_args) + ' <i class="gcicon gcicon-log-out"></i>').html_safe,
                refinery.logout_path, :id => 'logout', :class => 'log-out' %>
    </section>

    <section id="wrapper" class="pusher">
      <a href="" class="sidebar-left-opener menu-link menu-link-left"><i class="gcicon gcicon-gear"></i></a>
      
        <div id="flash_container" class="container-fluid">
          <%= render '/refinery/no_script' %>
          <%= render '/refinery/message' %>
        </div>
        <% if content_for?(:admin_page_preview) %>
          <section id="page-preview">
            <%= render "/refinery/body" %> <!-- this partial yields to :admin_page_preview -->
          </section>
        <% elsif content_for?(:admin_content) %>
          <%= yield :admin_content %>
        <% else %>
          <!-- this is just to display legacy, so we'll grab legacy css -->
          <%= stylesheet_link_tag 'refinery/refinery' %>
          <div id="page_container">
            <div id="page">
              <div id="content" class="clearfix">
                <%= yield %>
              </div>
            </div>
          </div>
        <% end %>

        <%= render 'refinery/admin/glass/modal' %>

      <% if content_for?(:admin_sidebar) %>
        <section id="sidebar-right" class="sidebar">
          <div id="sidebar-right-inner">
            <%= yield :admin_sidebar %>
          </div>
        </section>
      <% end %>
    </section>
  </body>
</html>
