<%% content_for :admin_submenu do %>
  <ul class='list-unstyled'>
    <li class='list-heading'>
      <%%= t('.<%= plural_name %>.title') %>
    </li>

    <%% if ::Refinery::<%= namespacing %>::Admin::<%= class_name.pluralize %>Controller.searchable? %>
      <li>
        <%%= render '/refinery/admin/search', :url => refinery.<%= namespacing.underscore %>_admin_<%= plural_name %><%= "_index" if plural_name == singular_name%>_path %>
      </li>
      <!-- remember to add something like this to your model: "acts_as_indexed :fields => [:title, :body]" -->
    <%% end %>
    <li>
      <%%= link_to '<i class="gcicon gcicon-index"></i>'.html_safe + t('.<%= plural_name %>.manage'),
                  refinery.<%= namespacing.underscore %>_admin_<%= plural_name %><%= "_index" if plural_name == singular_name%>_path %>
    </li>
    <li>
      <%%= link_to '<i class="gcicon gcicon-add"></i>'.html_safe + t('.<%= plural_name %>.new'),
                  refinery.new_<%= namespacing.underscore %>_admin_<%= singular_name %>_path %>
    </li>

    <%% if !searching? && ::Refinery::<%= namespacing %>::Admin::<%= class_name.pluralize %>Controller.sortable? && ::Refinery::<%= namespacing %>::<%= class_name %>.many? %>
      <li>
        <%%= link_to '<i class="gcicon gcicon-reorder"></i>'.html_safe + t('.<%= plural_name %>.reorder', :what => "<%= singular_name.titleize.pluralize %>"),
                    refinery.<%= namespacing.underscore %>_admin_<%= plural_name %><%= "_index" if plural_name == singular_name%>_path + "#reorder",
                    :id => "reorder_action",
                    :class => "reorder_icon" %>

        <%%= link_to '<i class="gcicon gcicon-reorder"></i>'.html_safe + t('.<%= plural_name %>.reorder_done', :what => "<%= singular_name.titleize.pluralize %>"),
                    refinery.<%= namespacing.underscore %>_admin_<%= plural_name %><%= "_index" if plural_name == singular_name%>_path + "#reorder",
                    :id => "reorder_action_done",
                    :style => "display: none;",
                    :class => "reorder_icon" %>
      </li>
    <%% end %>
  </ul>
<%% end %>
