<li class='page-listing' id="<%= dom_id(user) -%>">
  <div class="page-row">
    <i class="gcicon gcicon-file"></i>
    <a href="<%= current_refinery_user.can_edit?(user) ? refinery.edit_admin_user_path(user) : '#' %>" class="page-title">
      <span class='title'>
        <%= user.username %>
        <% if user.confirmation_token.present? && !user.confirmed_at.present? %>
          <span class="label">Invitation Sent</span>
        <% end %>
      </span>
    </a>
    <span class='actions actions-col-2'>
      <span class="delete">
        <%= link_to '<i class="gcicon gcicon-trash"></i>'.html_safe, refinery.admin_user_path(user),
          :class => "cancel confirm-delete circle-icon",
          :title => t('.delete'),
          :confirm => t('message', :scope => 'refinery.admin.delete', :title => user.username),
          :method => :delete if current_refinery_user.can_delete?(user) %>
      </span>
    
      <span class="edit">
        <%= link_to '<i class="gcicon gcicon-edit"></i>'.html_safe, refinery.edit_admin_user_path(user),
           :class => "circle-icon",
           :title => t('.edit') if current_refinery_user.can_edit?(user) %>
      </span>
    </span>
  </div>
</li>

