<li class='page-listing' id="<%= dom_id(user) -%>">
  <div class="page-row">
    <i class="gcicon gcicon-file"></i>
    <a href="<%= current_refinery_user.can_edit?(user) ? refinery.edit_admin_user_path(user) : '#' %>" class="page-title">
      <span class='title'>
        <%= user.username %>
        <% if user.attributes.keys.include?('confirmation_token') &&
            user.confirmation_token.present? &&
            !user.confirmed_at.present? %>
          <span class="label">Invitation Sent</span>
        <% end %>
      </span>
    </a>
    <span class='actions actions-col-2'>
      <span class="delete">
        <%= render 'refinery/admin/glass/delete_button',
                   css_class: 'cancel confirm-delete circle-icon',
                   delete_url: refinery.admin_user_path(user),
                   after_delete_url: refinery.admin_users_path,
                   confirm_text: 'Are you sure you want to delete this User?',
                   delete_btn_text: '<i class="gcicon gcicon-trash"></i>'
        -%>
      </span>

      <span class="edit">
        <%= link_to '<i class="gcicon gcicon-edit"></i>'.html_safe, refinery.edit_admin_user_path(user),
           :class => "circle-icon",
           :title => t('.edit') if current_refinery_user.can_edit?(user) %>
      </span>
    </span>
  </div>
</li>

