<div id="article-index">
  <section id="article-index-cover" class="cover">
  </section>
  <section id="popular-topics" class="index off-white-1-bg">
    <div class="container margin-bottom">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">

          <h2>Set Your Password</h2>

          <%= form_for [refinery, :admin, @user] do |f| %>
            <%= render '/refinery/admin/error_messages',
                       :object => @user,
                       :include_object_name => true %>

            <p><%= f.label :password %><br />
            <%= f.password_field :password %></p>

            <p><%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation %></p>

            <p><%= f.submit 'Create password' %></p>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>