<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
<title><%= browser_title(yield(:title)) %></title>
<%= raw %(<meta name="description" content="#{@meta.meta_description}" />) if @meta.meta_description.present? -%>
<%= raw %(<link rel="canonical" content="#{@canonical}" />) if @canonical.present? -%>
<%= csrf_meta_tags if Refinery::Core.authenticity_token_on_frontend -%>
<%= tag :meta, :name => "stripe-key", :content => Rails.configuration.stripe[:publishable_key] %>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
<% if @canonical_url.present? %>
<link rel="canonical" href="<%= @canonical_url %>" />
<% end %>
<%= render '/refinery/google_analytics' %>

<%= javascript_include_tag 'modernizr-min' %>

<%= render '/refinery/head_common' %>
