<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <head>
    <%= render "/refinery/head" %>
    <%= render partial: '/refinery/stylesheets' %>
  </head>
  <body>
    <%= render "/refinery/body" %>
    <%= render partial: '/refinery/javascripts' %>
  </body>
</html>
